html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*********** GLOBAL STYLES ***********/
/*********** GLOBAL STYLES ***********/
/*********** GLOBAL STYLES ***********/

body {
    font-family: 'Roboto', sans-serif;
    /* font-size: 16px; */
    color: #727E8C;

}

p {
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}


.limited {
    max-width: 960px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.flex-column {
display: flex;
flex-direction: column;
align-content: center;
width: 100%;
}

.column {
    max-width: 240px;
    padding: 2px;
}

.center-allin {
    text-align: center;
    align-content: center;
    justify-items: center;
}

/************ HEADER STYLES BEGIN *************/
/************ HEADER STYLES BEGIN *************/
/************ HEADER STYLES BEGIN *************/

header {
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
}

.nav {
    margin: 5px;
}

.header-nav-home a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7) !important;

}

.header-nav-home{
    flex-grow: 2;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.nav-list li { 
    display: inline-block;
    list-style-type: none;
    margin: 0 7px;
}

.nav-list a {
    font-size: 14px;
    
    color: rgba(255, 255, 255, 0.4) !important;

}

.nav a {
    text-decoration: none;
    
    color: inherit;
    font-style: inherit;
}

.header-welcome {

    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;
    gap: 16px;
    /* display: flex;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    
    
    justify-content: center; */
}

.header-welcome img {
    width: 100%;
    height: 100%;
}

.header-text {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin: 0 6px;
    
}
.header-text h2{
    font-size: 45px;
}
.header-text p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 18px;
    color: rgba(255, 255, 255, 0.9) !important;
}

.header-text button {
    font-family: inherit;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 14px;
    color: rgba(108, 117, 126, 0.7) !important;
    border: none ;
    border-radius: 4px;
}


/********** MAIN BODY *******/

.feature {
    padding-top: 50px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.features i, h3, p {
    padding-bottom: 4px;
}

.feat {
    padding: 10px;
}

.feature-img img{
    width: 680px;
}

.feature-img p {
    margin-bottom: 0;
    font-style: italic;
    font-weight: bold;
}

.feature-img h2 {
    margin-top: 7px;
    font-size: 30px;
}

/** PRICING SECTION**/
.pricing {
    background-color: rgb(249, 249, 251);
    padding: 50px 10px;
}

.pricing_head h2, .testimonial h2 {
    margin: 4px 0;
    font-size: 30px;
}

.pricing_head p, .testimonial .italics {
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
    padding-top: 2px;
}

.pricing-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}


.item-head_price {
	background-color: #f6f6f6;
}

.item-head_price .item-head_content .head_bg {
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

.item-head_content .head span {
	color: #525252;
}

.item-head_price .item_price_tag .price .sign {
	color: #414141;
}

.item_price_tag .price .currency {
	color: #414141;
}

.item_price_tag .price .cent {
	color: #414141;
}

.item_price_tag .month {
	color: #414141;
}

.pricing-item .item_feature_list ul li {
	color: #a7a7a7;
}

.pricing-item .item_feature_list ul li span {
	color: #414141;
}

.pricing-item .item_price_btn a {
	border: 1px solid #2ECC71;
	color: #2ECC71;
}

.pricing-item.active .item-head_price .item-head_content .head_bg{
	border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
	color: #fff;
}
.pricing-item.active .item-head_price .item-head_content .head span {
	color: #fff;
}
.pricing-item.active .item_price_btn a {
	background-color: #2ECC71;
	color: #fff;
}


.pricing-item {
	overflow: hidden;
	position: relative;
	text-align: center;
    margin: 0 8px;
}

.pricing-item .item-head_price {
	margin: 0 0 20px 0;
}

.item-head_content {
	margin: 0 0 50px 0;
}

.item-head_content .head_bg {
	border-style: solid;
	border-width: 90px 1411px 23px 399px;
	position: absolute;
}

.item-head_content .head {
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

.item-head_content .head span {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.item_price_tag {
	padding: 0 0 20px;
}
.item_price_tag .price {
	display: block;
}
.item_price_tag .price .sign {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	vertical-align: middle;
}
.item_price_tag .price .currency {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 60px;
	padding: 0;
	vertical-align: middle;
}
.item_price_tag .price .cent {
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	vertical-align: bottom;
}
.item_price_tag .month {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
	vertical-align: bottom;
}
.pricing-item .item_feature_list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pricing-item .item_feature_list ul li {
	font-size: 16px;
	padding: 15px 0;
}

.pricing-item .item_price_btn {
	margin: 20px 0 32px;
}
.pricing-item .item_price_btn a {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	display: inline-block;
	font-size: 15px;
	outline: medium none;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.testimonial {
    background-color: rgb(255, 255, 255);
    padding: 50px 0px;
}

.testimonial-items {
    padding-top: 40px;
}

.testimonial h2 {
    font-size: 30px;
    
}

.testimonial .test {
    color: rgba(108, 117, 126, 0.7);
}

.testimonial h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0;
    color: rgba(108, 117, 126, 0.7) !important;
}

.testimonial .column {
    padding: 4px 12px;
}

.testimonial img {
    width: 120px;
	height: 120px;
	border-radius: 120px;
	margin: 0 auto;
/*     width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; */
}

.tiny {
    letter-spacing: 2px;
	color: #999;
	font-size: 10px;
}

.scores {
    background-color: rgb(108, 117, 126);
    color: #fff;
    padding-bottom: 16px;
}

.scores-box {
    padding: 30px 0;
}

.scores .flex-row {
    justify-content: space-around !important; 
}

.scores h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 28px;
}

.scores p {
    margin-top: 7px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8) !important;
}



.community {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.community-box {
    padding: 30px 0;
}

.community h1 {
    margin-bottom: 30px;
    font-size: 30px;
}

.community p {
    margin-bottom: 40px;
}

.community button {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: rgba(108, 117, 126, 0.7) !important;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.setimg img {
    width: 100%;
    height: 100%;

    /* background: url(/images/dgwork-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

.form {
    padding: 60px 80px;
}

.form h2 {
    font-weight: 400;
}

.form p {
    font-size: 16px;
    color: rgba(108, 117, 126, 0.7) !important;
}

.form button {
    background-color: #00B74A;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 11px;
    font-weight: 700 !important;

}

.form-control {
    margin-bottom: 10px;
    /* padding-bottom: 20px; */
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
}

.form-control input {
    border: 2px solid rgba(108, 117, 126, 0.2);
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 7px;
    width: 100%;
}


footer img {
    width: 100px;
    height: 30px;
}

.footer {
    padding-top: 40px;
}

.play img {
    height: 50px;
    width: 150px;
}

footer h3 {
    font-size: 16px;
    color: rgba(108, 117, 126, 0.7) !important;
    font-weight: 400;
}

footer p {
    color: rgba(108, 117, 126, 0.7) !important;
}

footer ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

footer ul>li {
    padding-bottom: 4px;
}

footer a, .copyright {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
}

.copyright span {
    font-weight: 700;
    color: black;
}

.socials {
    padding: 6px;
}

.begin {
    margin-top: 18.72px;
}
